@import "variables";
@import "mixins";
.footer {
  background-color: $royalBlue;
  color: $white;
  padding: 2.5rem;
  text-align: center;
  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "socialMedia links1 links2 logo"
    "socialMedia limks1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
  a {
    color: $white;
  }
  &__logo {
    display: inline-block;
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: logo;
      justify-self: end;
    }

  }
  &__socialMedia {
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: socialMedia;
      align-self: end;
      margin-bottom: 3.75rem;
    }

    a {
      display: inline-block;
      svg path {
        transition: fill 100ms ease-in-out;
      }
      &:hover svg path {
        fill: $limeGreen;

      }
    }
    a:not(:last-child) {
      margin-right: 1.125rem;
    }

  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint-up(large) {
      align-items: start;
    }
    &.col1 {
      @include breakpoint-up(large) {
        grid-area: links1;
      }

    }
    &.col2 {
      @include breakpoint-down(medium) {
        margin-bottom: 1.875rem;
      }
      @include breakpoint-up(large) {
        grid-area: links2;
      }

    }
    a {
      transition: color 200ms ease-in-out;
      &:hover {
        color: $limeGreen;
      }
      @include breakpoint-down(medium) {
        line-height: 2;
      }
      @include breakpoint-up(large) {
        line-height: 2.25;
      }
    }
  }
  &__copyright {
    color: $white;
    @include breakpoint-up(large) {
      grid-area: copyright;
      text-align: right;
      justify-self: end;
    }
  }

}