$royalBlue: hsl(225, 73%, 57%);
$limeGreen: hsl(120, 61%, 50%);
$white: hsl(0, 0%, 100%);
$lightWhite: hsl(60, 100%, 98%);
$darkTheme: hsl(0, 0%, 7%);
$black: hsl(0, 0%, 0%);
$lightGrey: hsl(0, 0%, 42%);

$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;